In [55]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Define the dataset
data = {
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female',
               'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'fever': [101.2, 98.4, 102.5, 97.9, 100.8, 99.1,
              98.0, 103.3, 97.8, 101.5, 98.2, 100.0],
        'cough': ['Mild', 'Strong', 'Strong', 'Mild', 'Strong', 'Mild',
              'Mild', 'Strong', 'Strong', 'Strong', 'Mild', 'Mild'],
    'city': ['New York', 'Los Angeles', 'New York', 'New York', 'Los Angeles',
             'Los Angeles', 'New York', 'New York', 'New York',
             'Los Angeles', 'Los Angeles', 'Fort Worth'],
    'has_covid': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No',
                  'No', 'Yes', 'No', 'Yes', 'No', 'No']
}

# Create DataFrame
df = pd.DataFrame(data)
df = df.drop('has_covid', axis=1)

# Display the updated DataFrame
print(df)

    gender  fever   cough         city
0     Male  101.2    Mild     New York
1   Female   98.4  Strong  Los Angeles
2     Male  102.5  Strong     New York
3   Female   97.9    Mild     New York
4     Male  100.8  Strong  Los Angeles
5   Female   99.1    Mild  Los Angeles
6     Male   98.0    Mild     New York
7   Female  103.3  Strong     New York
8     Male   97.8  Strong     New York
9   Female  101.5  Strong  Los Angeles
10    Male   98.2    Mild  Los Angeles
11  Female  100.0    Mild   Fort Worth

In [56]:
df['city'].value_counts()

city
New York       6
Los Angeles    5
Fort Worth     1
Name: count, dtype: int64

In [57]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
     ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
      ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
      ], remainder='passthrough')

In [60]:
df=transformer.fit_transform(df)

In [61]:
df.shape

(12, 5)